/* VARIABLES */
@search-input-border-color: #E4E4E4;
@search-input-bg-color: #f1f1f1;

@button-border-color: #ccc;

@search-button-text-color: #8a8787;
@search-button-hover-text-color: #666666;

@clear-button-text-color: #e25d5d;
@clear-button-hover-text-color: #e01a1a;




@table-expand-target-bg-color: #efefef;
@table-expanded-target-bg-color: #e2e0e0;

@loader-icon-font-size: 40px;


/* MIXINS */
.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

/* CUSTOM STYLES */
.indent-left{
  padding-left: 15px;
}
.search-input-container{
  padding: 3px;
  border: solid 1px @search-input-border-color;
  border-radius: 6px;
  background-color: @search-input-bg-color;
  margin-top: 50px;
  margin-bottom: 80px;

  input{
    border: 0;
    box-shadow: none;
    background-color: @search-input-bg-color;
  }

  .btn-search, .btn-clear{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px @button-border-color;
    .transition(color .2s);

    &:hover, &:active, &:focus, &:visited,
    &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus{
      border: 0;
      box-shadow: none;
      background: none;
      outline: none;
      border-left: solid 1px @button-border-color;
    }

    i{
      font-size: 23px;
    }

  }

  .btn-clear{
    display: none;
    color: @clear-button-text-color;
    &:hover{
      color: @clear-button-hover-text-color;
    }
  }

  .btn-search{
    color: @search-button-text-color;
    &:hover{
      color: @search-button-hover-text-color;
    }
  }

}


.table{
  tr{
    &.isExpanded{
      background-color: @table-expanded-target-bg-color;
    }
    &.expand-target{
      background-color: @table-expand-target-bg-color;
      display: none;
    }
  }
}

.loader-icon{
  font-size: @loader-icon-font-size;
}

/* ------ Animate bootstrap icon ------- */
.glyphicon-refresh-animate {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
/* ------ END: Animate bootstrap icon ------- */